= render 'shared/header'
%p.notice= notice
%p.alert= alert
.container
  .row
    .index-side
      .list-group
        %li.list-group-item.index DAW
        %a.list-group-item.list-group-item-action{:href => "#!"} Garage Band
        %a.list-group-item.list-group-item-action{:href => "#!"} Studio One
        %a.list-group-item.list-group-item-action{:href => "#!"} Logic Pro
        %a.list-group-item.list-group-item-action{:href => "#!"} Ableton Live
        %a.list-group-item.list-group-item-action{:href => "#!"} Cubase
        %a.list-group-item.list-group-item-action{:href => "#!"} FL Studio
        %a.list-group-item.list-group-item-action{:href => "#!"} Pro Tools
        %a.list-group-item.list-group-item-action{:href => "#!"} Sonar
        %a.list-group-item.list-group-item-action{:href => "#!"} その他
      .list-group
        %li.list-group-item.index VSTプラグイン
        %a.list-group-item.list-group-item-action{:href => "#!"} EQ
        %a.list-group-item.list-group-item-action{:href => "#!"} コンプレッサー/リミター/マキシマイザー
        %a.list-group-item.list-group-item-action{:href => "#!"} サチュレーション/ディストーション
        %a.list-group-item.list-group-item-action{:href => "#!"} リバーブ
        %a.list-group-item.list-group-item-action{:href => "#!"} ディレイ
        %a.list-group-item.list-group-item-action{:href => "#!"} サイドチェーン
        %a.list-group-item.list-group-item-action{:href => "#!"} ステレオイメージ
        %a.list-group-item.list-group-item-action{:href => "#!"} アナライザー
        %a.list-group-item.list-group-item-action{:href => "#!"} ピッチ修正
        %a.list-group-item.list-group-item-action{:href => "#!"} トランジェント補正
        %a.list-group-item.list-group-item-action{:href => "#!"} モジュレーション
        %a.list-group-item.list-group-item-action{:href => "#!"} その他
      .list-group
        %li.list-group-item.index 周辺機器
        %a.list-group-item.list-group-item-action{:href => "#!"} audio technica
        %a.list-group-item.list-group-item-action{:href => "#!"} BEHRINGER
        %a.list-group-item.list-group-item-action{:href => "#!"} CANARE
        %a.list-group-item.list-group-item-action{:href => "#!"} CRASIC PRO
        %a.list-group-item.list-group-item-action{:href => "#!"} KB COVERS
        %a.list-group-item.list-group-item-action{:href => "#!"} MIDDLE ATLANTIC
        %a.list-group-item.list-group-item-action{:href => "#!"} PRESONUS
        %a.list-group-item.list-group-item-action{:href => "#!"} ROLAND
        %a.list-group-item.list-group-item-action{:href => "#!"} SENNHEISER
        %a.list-group-item.list-group-item-action{:href => "#!"} SHURE
        %a.list-group-item.list-group-item-action{:href => "#!"} SONY
        %a.list-group-item.list-group-item-action{:href => "#!"} YAMAHA
        %a.list-group-item.list-group-item-action{:href => "#!"} その他
      .list-group
        %li.list-group-item.index ミックス
        %a.list-group-item.list-group-item-action{:href => "#!"} ロック
        %a.list-group-item.list-group-item-action{:href => "#!"} ハードコア
        %a.list-group-item.list-group-item-action{:href => "#!"} ポップス
        %a.list-group-item.list-group-item-action{:href => "#!"} メタルコア
        %a.list-group-item.list-group-item-action{:href => "#!"} ロック
        %a.list-group-item.list-group-item-action{:href => "#!"} エレクトリック
        %a.list-group-item.list-group-item-action{:href => "#!"} ポップス
        %a.list-group-item.list-group-item-action{:href => "#!"} メタルコア

    .jumbotron
      %h1.display-3 MusiQへようこそ！
      %p.lead
        MusiQは現役バンドマンが運用するDTM専門の質問サイトです！ 
        作曲で行き詰まった時、このジャンルにオススメのソフトが気になった時、
        どんなにふとした疑問でもDTM専門の質問サイトだから的確な回答が帰ってくる！！
      %hr.my-2/
      %p
        質問が決まれば、早速下のボタンから質問をしてみよう
        カテゴリやジャンルを詳しく設定すると、的確な答えが返ってくるよ！
      %p.lead
        %a.btn.btn-primary.btn-lg{:href => "posts/new", :role => "button"} 質問する

    .container-right
      %h2.text-center{style: 'color: #fff;'} 最新の質問
      .row
        - @posts.each do |post|
          = link_to post do
            .col-md-11.margin-top-5per.post-block
              %h1.title= post.title
              %p.body= truncate(post.body, length: 100)
              %p.text-right= "#{post.user.profile.name}さんの質問"
              %p.text-right= post.created_at.strftime("%Y年%-m月%-d日")
= render 'shared/footer'
