= render 'shared/header'
%p.notice= notice
%p.alert= alert
.container
  .row
    = render 'shared/index-side'
    .jumbotron
      %h1.display_3 MusiQへようこそ！
      %p.lead
        MusiQは現役バンドマンが運用するDTM専門の質問サイトです！ 
        作曲で行き詰まった時、このジャンルにオススメのソフトが気になった時、
        どんなにふとした疑問でもDTM専門の質問サイトだから的確な回答が帰ってくる！！
      %hr.my-2/
      %p
        質問が決まれば、早速下のボタンから質問をしてみよう
        カテゴリやジャンルを詳しく設定すると、的確な答えが返ってくるよ！
      %p.lead{style: 'display: grid;'}
        %a.btn.btn-primary.btn-lg{:href => "posts/new", :role => "button"} 質問する
      %p.lead{style: 'display: grid;'}
        %a.btn.btn-primary.btn-lg{:href => "posts/index_list", :role => "button"} 質問一覧へ

    .container-right
      %h2.text-center{style: 'color: #fff;'} 人気の質問
      .row
        - @ranking_posts.each_with_index do |rank_data,index|
          =link_to post_path(rank_data) do
            .col-md-11.margin-top-5per.post-block
              %h1.title= rank_data.title
              - rank_data.tags.each do |tag|
                %span.badge.badge-light= tag.name
              %p.body= truncate(rank_data.body, length: 100)
              %p.text-right= "#{rank_data.user.profile.name}さんの質問"
              %p.text-right= rank_data.created_at.strftime("%Y年%-m月%-d日")
              お気に入り(#{rank_data.favorited_users.count})
              (
              = REDIS.zscore("posts/daily/#{Date.today.to_s}", rank_data.id).to_i
              PV
              )
      %p.lead
        %a.btn.btn-primary.btn-lg{href: "posts/index_list", role: "button", style:'display: grid;'} もっと見る

= render 'shared/footer'
