= render 'shared/header'
.container{style: 'padding-bottom: 200px;'}
  - if flash[:notice]
    .alert.alert-primary= flash[:notice]
  .col-md-12.margin-top-5per.post-block
    .question-main
      %h1= @post.title
      =link_to mypages_path, class: "mypage-header__bottom__btn__mypage" do
        = image_tag 'DTM-pic.jpeg', size: '32x32', id: 'user-icon'
      %a.commenter{:href => "/users/#{@post.user.id}"}= "#{@post.user.profile.name} さん"
      .padding-bottom-15{style: "padding: 10px"}
        .detail
          %p.body= simple_format @post.body
          - @post.tags.each do |tag|
            %span.badge.badge-light= tag.name
          - if @post.image.present?
            %td= image_tag @post.image.to_s,loop: true, controls: true, width: 550, id: "im"
          - if @post.video.present?
            %td= video_tag @post.video_url.to_s,loop: true, controls: true, width: 550, id: "mv"
          %p.text-right
            = @post.created_at.strftime("%Y年%-m月%-d日")
          .edit-btn
            - if @post.user_id == current_user.id
              = link_to '編集', edit_post_path(@post), class: 'btn btn-primary'
              = link_to '削除', post_path(@post), method: :delete, data: { confirm: "本当に削除しますか？" }  ,class: 'btn btn-danger'

    .comment
      %h2 回答一覧
      - @comments.each do |c|
        %div
          =link_to mypages_path, class: "mypage-header__bottom__btn__mypage" do
            = image_tag 'DTM-pic.jpeg', size: '32x32', id: 'user-icon'
          %a.commenter{:href => "/users/#{@post.user.id}"}= "#{c.user.name} さん"
          &nbsp;
          &nbsp;
          = @post.created_at.strftime("%Y年%-m月%-d日")
          %br
          %br
          = simple_format  c.content
          - if c.user_id == current_user.id 
            = link_to '削除', post_comment_path(@post, c), method: :delete, data: { confirm: "本当に削除しますか？" }  ,class: 'btn btn-danger comment-delete'
          %hr/
      = form_for [@post, @comment] do |f|
        = f.text_area :content, rows: 10, class: 'form-control', placeholder: '質問に回答する（最大1000文字まで））'
        %br/
        = f.submit '回答する', class: 'btn btn-success'
    %p.lead{style: 'display: grid;'}
      = link_to '質問一覧へ', index_list_posts_path ,class: 'btn btn-primary btn-lg'
= render 'shared/footer'

